:root {
  --color: #333;
  --color-white: white;
}
body {
  text-align: center;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-white);
  font-size: 17px;
  background-color: var(--color);
}
.headering {
  font-weight: bold;
}
.hedering1 {
  font-size: 32px;
}
.headering2 {
  font-size: 24px;
}
.headering3 {
  font-size: 19px;
}
.text {
  margin: 16px;
}
.column {
  column-count: 2;
  column-gap: 5%;
}
.container {
  display: flex;
  max-width: 50%;
  margin: 0 auto;
}
.w-50 {
  width: 50%;
}
.img {
  width: 100%;
}
.margin {
  margin: 10px 0;
}
.margin + .margin {
  margin-left: 10px;
}
.article-wrapper {
  padding: 16px;
}
.flex {
  display: flex;
}
.fd-column {
  flex-direction: column;
}
.header {
  min-height: 45vh;
  position: relative;
}
.header-wrapper {
  align-items: center;
  justify-content: center;
  min-height: 45vh;
}
.header-wrapper > * {
  z-index: 1;
}
.header::before {
  content: '';
  opacity: 0.4;
  position: absolute;
  background: url(../images/header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  inset: 0;
}
.header-link {
  width: 150px;
  padding: 16px;
  background-color: var(--color);
  border: var(--color-white) solid 1px;
}
.header-link:hover {
  color: var(--color);
  background-color: var(--color-white);
}
.white-background-color {
  background-color: var(--color-white);
  color: var(--color);
}
.contact-us {
  background-color: #2690d4;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #000000;
}
.footer-link {
  color: #2690d4;
}
.footer-text {
  display: inline-block;
}

.p-16{
  padding-top:16px;
}
.contact-link{
  display: inline-block;
  margin: 16px;
}